<h1>Add a new board topic</h1>

<form action="/boards" method="post">
  <div class="form-group">
    <label for="board_name">Board name</label>
    <input id="n" name="board_name" class="form-control" text="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>